:root {
  --tsxup-brightest: #ffffff;
  --tsxup-brightest-darker: theme('colors.gray.200');
  --tsxup-darkest: theme('colors.gray.900');
  --tsxup-darkest-mid: theme('colors.gray.300');
  --tsxup-darkest-light: theme('colors.gray.600');
  --tsxup-signal-success: #4CA154;
  --tsxup-signal-error: #b73737;
  --tsxup-primary: #1E40AF;
  --tsxup-primary-light: #668bca;
  --tsxup-text: var(--tsxup-darkest);
  --tsxup-text-lighter: var(--tsxup-darkest-light);
  --tsxup-headline: var(--tsxup-darkest);
  --tsxUp-button-regular-color: var(--tsxup-brightest);
  --tsxUp-button-regular-bg: var(--tsxup-primary);
  --tsxUp-button-regular-color-hover: var(--tsxup-brightest);
  --tsxUp-button-regular-bg-hover: var(--tsxup-primary-light);
  --tsxUp-button-regular-color-disabled: var(--tsxup-darkest-light);
  --tsxUp-button-regular-bg-disabled: var(--tsxup-darkest-mid);
  --tsxUp-button-ghost-color: var(--tsxup-brightest);
  --tsxUp-button-ghost-bg: var(--tsxup-primary);
  --tsxUp-button-ghost-color-hover: var(--tsxup-brightest);
  --tsxUp-button-ghost-bg-hover: var(--tsxup-primary-light);
  --tsxUp-selectField-border: var(--tsxup-brightest-darker);
  --tsxUp-selectField-background: var(--tsxup-brightest);
  --tsxUp-selectField-backgroundHover: var(--tsxup-brightest);
  --tsxUp-selectField-backgroundDisabled: var(--tsxup-brightest-darker);
  --tsxUp-selectField-color: var(--tsxup-darkest);
  --tsxUp-selectField-selectedBackground: var(--tsxup-primary-light);
  --tsxUp-selectField-selectedColor: var(--tsxup-brightest);
}
